* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg2-color: rgb(24, 24, 24);
  --info-color: rgb(15, 15, 15);
  --bg-color: black;
  --hover-color: rgba(189, 189, 189, 0.301);
  --border-color: rgb(51, 51, 51);
  --icon-color: white;
  --bghover-color: rgba(80, 80, 80, 0.815);
  --caixabotao-bg-svg-url: url(./assets/luacomestrela16.svg);
  --caixabotao-svg-color-url: white;
  --caixabotao-hover-color: rgba(189, 189, 189, 0.37);
  --posicaodobotao-: right 1;
  --spanbordercolor-: rgb(80, 80, 80);
}
.light {
  --text-color: black;
  --bg-color: rgb(236, 236, 236);
  --bg2-color: rgba(255, 255, 255, 0.849);
  --info-color: white;
  --hover-color: rgb(212, 212, 212);
  --border-color: black;
  --icon-color: black;
  --bghover-color: rgb(238, 238, 238);
  --caixabotao-bg-svg-url: url(./assets/sun16.svg);
  --caixabotao-svg-color-url: black;
  --caixabotao-border-color: rgb(0, 0, 0);
  --caixabotao-hover-color: rgba(77, 77, 77, 0.37);
  --posicaodobotao-: right 0;
  --spanbordercolor-: black;
}

a {
  text-decoration: none; /* Remova a decoração de link (como o sublinhado) */
  color: inherit; /* Mantenha a cor padrão do texto */
}
#bemvindo {
  user-select: none;
}
#traco {
  user-select: none;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  color: var(--text-color);
  font-family: "inter", sans-serif;
}

#p {
  font-family: "Times New Roman", Times, serif;
  color: var(--text-color);
}

#containerpai {
  display: flex;
  flex-direction: column; /* Configura as divs para uma disposição vertical */
  align-items: center;
  justify-content: center;
}

.containercadastro {
  width: 50%;
  min-width: 350px;
  max-width: 400px;
  margin-top: 15px;
  height: 425px;
  min-height: 425px;
  background: var(--bg2-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  border: 0.7vh solid var(--border-color);
  position: relative;
  transition: opacity 0.5s ease;
}

#logoserrilhada {
  width: 23vh;
  height: 23vh;
  min-height: 23vh;
  max-height: 150px;
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 1vh solid var(--border-color);
  transition: opacity 0.5s ease;
}
@media (max-width: 768px) {
  .containercadastro {
    width: 70%; /* ou qualquer valor desejado para telas menores */
    top: 2;
  }

  #logoserrilhada {
    width: 20vh; /* ou qualquer valor desejado para telas menores */
    height: 20vh; /* ou qualquer valor desejado para telas menores */
  }

  #lightmode {
    width: 40px; /* ou qualquer valor desejado para telas menores */
  }

  #lightmode button {
    width: 22px; /* ou qualquer valor desejado para telas menores */
    height: 22px; /* ou qualquer valor desejado para telas menores */
  }

  #caixadelogin,
  #caixadecadastro {
    width: 80%; /* ou qualquer valor desejado para telas menores */
  }
}
#lightmode {
  width: 60px;
  min-width: 20px;
  max-width: 100px;
  height: 30vh;
  min-height: 30vh;
  min-height: 25px;
  max-height: 35px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 4px auto;
}

#lightmode button {
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  background-color: white;
  border: 0;
  border-radius: 50%;

  background: white var(--caixabotao-bg-svg-url) no-repeat center;
  color: var(--caixabotao-svg-color-url);
  border: 1px solid var(--caixabotao-border-color);
  transition: 0.4s;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: botaodeslizando1 0.4s forwards;
}

.light #lightmode button {
  animation: botaodeslizando 0.4s forwards;
}

#caixabotao {
  display: flex;
  align-items: center;
  z-index: 2;
}

#lightmode button:hover {
  outline: 8px solid var(--caixabotao-hover-color);
}

#lightmode span {
  width: 64px;
  height: 24px;

  border: 1px solid var(--spanbordercolor-);
  display: block;
  border-radius: 9999px;
}

#oi {
  display: flex;
  flex-direction: column; /* Configura as divs para uma disposição vertical */
  align-items: center;
  justify-content: center;
  min-height: 20px;
  max-height: 600vh;
  width: 60vh;
  min-width: 70px;
  max-width: 310px;
}

#containerinfos {
  width: 60vh;
  min-width: 70px;

  max-width: 310px;
  height: 170px;
  max-height: 170px;
  min-height: 170px;

  display: flex;
  flex-direction: column; /* Configura as divs de login e cadastro para uma disposição vertical */
  justify-content: center;
  align-items: center;
  gap: 15px; /* Adiciona espaço vertical entre as divs */
  position: relative;
}

#caixadelogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 305px; /* Defina a largura desejada (305px) */
  height: 65px;
  min-width: 305px;
  min-height: 65px;
  max-height: 65px;
  background-color: var(--info-color);
  border: 0.5vh solid var(--border-color);
}

#caixadecadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 305px; /* Defina a largura desejada (305px) */
  height: 65px;
  min-width: 305px;
  background-color: var(--info-color);
  border: 0.5vh solid var(--border-color);
  margin-bottom: 0;
}

#bemvindo {
  margin-top: 3.5vh;
  margin-bottom: 0.4vh;
  color: white;
  font-size: smaller;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center; /* Centralize o texto horizontalmente */
}

#caixadecadastro {
  color: rgba(190, 190, 190, 0.5);
  font-family: Arial, Helvetica;
}
#caixadelogin {
  color: rgba(190, 190, 190, 0.5);
  font-family: Arial, Helvetica;
}

#traco {
  font-size: large;
  color: rgb(110, 110, 110);

  width: 60vh;
  min-width: 70px;
  max-width: 310px;
  height: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#links {
  width: 50vh;
  min-width: 40px;
  max-width: 600px;
  height: 8vh;
  min-height: 20px;
  max-height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#youtubelink {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#githublink {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#inlink {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#instagramlink {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#youtubelink:hover {
  background-color: rgba(189, 189, 189, 0.301);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#githublink:hover {
  background-color: rgba(189, 189, 189, 0.301);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inlink:hover {
  background-color: rgba(189, 189, 189, 0.301);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instagramlink:hover {
  background-color: rgba(189, 189, 189, 0.301);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#youtubelink:hover,
#githublink:hover,
#inlink:hover,
#instagramlink:hover {
  background-color: var(--hover-color);

  border-radius: 50%;
  width: 45px;
  height: 45px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#youtubelink,
#githublink,
#inlink,
#instagramlink {
  transition: 0.4s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  color: var(--icon-color);
}

#caixadelogin:hover,
#caixadecadastro:hover {
  background-color: var(--bghover-color);
  transition: 0.4s;
}

#caixadelogin,
#caixadecadastro {
  transition: 0.3s;
}

@media (min-width: 700px) {
  :root {
    --bg-color: black;
  }

  .light {
    --bg-color: rgb(236, 236, 236);
  }
}

@keyframes botaodeslizando {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes botaodeslizando1 {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
